.main-cont {
  width: 30%;
  background-color: white;
  box-shadow: 0px 0px 25px rgb(233, 233, 233);
  border-radius: 10px;
  /* height: 100px; */
}

.empty-cart-title {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}

.empty-cart-header {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.empty-cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: #ccc;
}

.flex-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.flex-cont-no-padding {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border {
  border-bottom: 1px solid #ccc;
}

.trash-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.count-cont {
  display: flex;
  align-items: center;
  gap: 7px;
}

.count-btn {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid rgb(28, 28, 28);
  background-color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.count-btn:hover {
  background-color: rgb(28, 28, 28);
  color: white;
}

.tax {
  font-size: 13px;
  color: #777;
}

.discount-btn {
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}

.checkout-btn {
  width: 90%;
  background-color: rgb(28, 28, 28);
  color: white;
  margin: 20px 5%;
  padding: 12px 0;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.empty-box {
  width: 90px;
}

.mobile-cart-opener {
  align-items: center;
  justify-content: space-between;
  display: none;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 20px;
  cursor: pointer;
}

.mobile-cart-opener > .flex-cont {
  padding: 0;
  gap: 5px;
}

.mobile-cart-opener > .flex-cont > img {
  width: 25px;
  height: 25px;
}

.close-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* margin: 5px 0 5px 15px; */
}

@media (width < 977px) {
  .main-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 3;
    border-radius: 0;
    overflow: scroll;
  }

  .mobile-cart-opener {
    display: flex;
  }
}

.hidden {
  display: none;
}
