.main-cont {
  width: 65%;
  /* border: 1px solid #888; */
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 25px rgb(233, 233, 233);
  border-radius: 10px;
}

@media (width < 977px) {
  .main-cont {
    width: 100%;
  }
}
