.main-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  width: 100vw;
  background-color: white;
}

.logo {
  width: 70px;
  height: 70px;
}

.action-btn {
  background-color: white;
  padding: 8px 15px;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: 400ms;
}

.action-btn:hover {
  background-color: black;
  color: white;
}

.login-cont {
  display: flex;
  gap: 10px;
}

@media (width <=450px) {
  .main-cont {
    padding: 10px;
  }
}
