@font-face {
  font-family: "gotham";
  src: url("../public/Assets/fonts/gotham-6-cufonfonts/JostVariableFont_wght.ttf");
  font-weight: 450;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gotham";
}

body {
  background-color: #f9fafb;
  overflow-x: hidden;
}
